<div class = "row underline" style="align-items: center;">
    <div class="col-9">
        <h4>{{job['title']}}</h4>
        <p style="color: rgb(120,120,120)">
            <b>Location:</b> {{job['location']}} <br>
            <b>Salary:</b> {{job['salary']}}
        </p>
    </div>
    <div class="col-3" style="text-align: right;">
        <a href="mailto:sggorski@interia.pl?subject=Job%20application%20for%20{{job['title']}}&body=Name%3A%20%3Cname%3E%0D%0ACV%20link%3A%20%3Clink%3E%0D%0ALinkedIn%20Profile%3A%20%3Clink%3E"class="button2" style="text-decoration: none;">Apply!</a>
    </div> 
</div>